{block content}

<div class="container">
    <form method="post" action="{link createLobby}">
        <label for="players_count">Jméno lobbby</label>
        <input type="text" name="name" id="name">
        <input type="submit" value="Vytvořit lobby">
    </form>
</div>

<a n:href="list">Zpět</a>