parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	prsiGovernance: App\Models\Prsi\GameGovernance
	lobbyGovernance: App\Models\Lobby\LobbyGovernance
	bangGovernance: App\Models\Bang\GameGovernance
	- {class: App\WebSocketsRouterFactory, tags: [ipub.websockets.routes]}

extensions:
    webSockets: IPub\WebSockets\DI\WebSocketsExtension
    webSocketsWAMP: IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension
    console: Kdyby\Console\DI\ConsoleExtension

