parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	authenticator: App\Models\Security\Authenticator
	prsiGovernance: App\Models\Prsi\GameGovernance
	bangGovernance: App\Models\Bang\GameGovernance
	lobbyGovernance: App\Models\Lobby\LobbyGovernance
	- {class: App\WebSocketsRouterFactory, tags: [ipub.websockets.routes]}
	formFactory: App\Forms\FormFactory
	signInFormFactory: App\Forms\SignFormFactory

extensions:
    webSockets: IPub\WebSockets\DI\WebSocketsExtension
    webSocketsWAMP: IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

