{block content}

<div id="chat-window" class="chat-window">
    <div class="messages"></div>
    <div class="input-field">
        <textarea id="input-textarea" placeholder="Vaše zpráva.."></textarea><!--
     --><a class="send-message"></a>
    </div>
</div>