{block content}

<form method="post" action="{link createGame}">
    <label for="players_count">Počet hrářů</label>
    <input type="text" name="players_count" id="players_count">
    <input type="submit" value="Začít">
</form>

<a n:href="default">Zpět</a>