{block content}


<div n:ifset="$activeGame">
    <h3>Čekání na hráče</h3>
</div>
<h3>{$nickname}</h3>

<form method="post" action="{link setName}">
    <input type="text" name="nickname">
    <input type="submit" value="Nastavit">
</form>

<a n:href="createGame">Vytvořit hru</a>
<a n:href="findGame">Hledat hru</a>