{block content}

<div class="container">
	<div n:if="$presenter->getUser()->isLoggedIn()">
		<a class="btn btn-success" role="button" n:href="Lobby:list">Hledat spoluhráče</a>
		<a class="btn btn-warning" role="button" n:href="Sign:out">Odhlásit</a>
	</div>
	<div n:if="!$presenter->getUser()->isLoggedIn()">
		<a class="btn btn-info" role="button" n:href="Sign:in">Přihlásit</a>
		<a class="btn btn-info" role="button" n:href="Sign:up">Registrovat</a>
	</div>
</div>

