{* This is the welcome page, you can delete it *}

{block content}

<div class="container">
	<form n:if="!$nickname" method="post">
		<label for="nickname">Přezdívka</label>
		<input type="text" name="nickname" id="nickname">
		<input type="submit" value="Nastavit">
	</form>

	<a class="btn btn-success" role="button" n:href="Lobby:list">Hledat spoluhráče</a>
</div>

