#bang .col-1, #bang .col-2 {
    padding: 2px;
}

#bang.player-count-4 .player-1 {
    position: fixed;
    top: 20vh;
    left: 5px;
}

#bang.player-count-4 .player-2 {
    position: fixed;
    top: 5px;
    left: 35vw;
}

#bang.player-count-4 .player-3 {
    position: fixed;
    top: 20vh;
    right: 0;
}

#bang .player {
    width: 25vw;
}

#bang .player img {
    max-width: 100%;
}

#bang .player .row > div {
    width: 16%;
}
#bang .player .row:last-child > div {
    width: 16%;
    margin-left: -10%;
}

#bang .player .row:last-child > div:first-child {
    margin-left: 16%;
}

#bang .acting-player {
    position: fixed;
    width: 60%;
    bottom: 5px;
    left: 0;
    padding-left: 20%;
    padding-right: 20%;
}

#bang .acting-player img {
    max-width: 100%;
}


#bang .acting-player .row > div {
    width: 10%;
}

#bang .acting-player .row:last-child > div:first-child {
    margin-left: 10%;
}

#bang .cards-deck {
    position: fixed;
    top: 35vh;
    left: 40vw;

}

#bang .cards-deck img {
    max-height: 20vh;
}

#bang .cards-deck > div {
    display: inline-block;
}

#bang .active-player .character {
    border: 1px solid dodgerblue;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 10px dodgerblue;
}

#bang .player-to-respond .character {
    border: 1px solid orangered;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 10px orangered;
}

#bang .row > div {
    display: inline-block;
    position: relative;
}

#bang .acting-player .health-points .character,
#bang .player .health-points .character {
    position: absolute;
    left: 0;
    top: 15px;
}

#bang .acting-player .health-points .character.hp-1,
#bang .player .health-points .character.hp-1 {
    top: 25%;
}

#bang .acting-player .health-points .character.hp-2,
#bang .player .health-points .character.hp-2 {
    top: 40%;
}

#bang .acting-player .health-points .character.hp-3,
#bang .player .health-points .character.hp-3 {
    top: 57%;
}

#bang .acting-player .health-points .character.hp-4,
#bang .player .health-points .character.hp-4 {
    top: 75%;
}

#bang .acting-player .health-points .character.hp-5,
#bang .player .health-points .character.hp-5 {
    top: 90%;
}

#log {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 15px;
    border: 1px solid black;
    height: 40vh;
}

#log .header {
    margin: 5px;
    height: calc(5% - 10px);
}

#log .body {
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    height: calc(95% - 50px);
    max-height: calc(95% - 50px);
    overflow: scroll;
}

#log .body .message .player {
    font-weight: bold;
}

#log .body .message .character {
    color: green;
    font-weight: bold;
}

#log .body .message .card {
    font-weight: bold;
}

#log .body .message .card.beige {
    color: #c79351;
}

#log .body .message .card.blue {
    color: dodgerblue;
}

#log .body .message .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

#log .body .message .tooltip .text {
    visibility: hidden;
    width: 190px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    bottom: -50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#log .body .message .tooltip:hover .text {
    visibility: visible;
    opacity: 1;
}