.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 60vh;
    margin: 20vh 25vw;
    border: 5px solid #000000;
    border-radius: 18px;
    background-color: #f7ffef;
}

.modal .header {
    height: 20%;
    text-align: center;
    vertical-align: middle;
}

.modal .header .text {
    vertical-align: middle;
}

.modal .body {
    height: 80%;
}

.modal .body .cards {
    padding: 10px;
    text-align: center;
}

.modal .body .cards .card {
    height: 100%;
    display: inline-block;
}

.modal .body .cards .card img {
    max-height:100%;
    width: auto;
}

#emporio.modal .body .cards .card:hover,
#sid-ketchum.modal .body .cards .card{
    border: 1px solid #f5b95c;
    border-radius: 15px;
    outline: none;
    box-shadow: 0 0 10px #f5b95c;
}

#sid-ketchum.modal .body .cards {
    height: calc(40% - 20px);
}

#sid-ketchum.modal .body .choosen-cards {
    height: calc(40% - 20px);
    padding: 10px;
    text-align: center;
}

#sid-ketchum.modal .body .choosen-cards .card {
    height: 100%;
    display: inline-block;
}

#sid-ketchum.modal .body .choosen-cards .card:hover {
    border: 1px solid #f50010;
    border-radius: 15px;
    outline: none;
    box-shadow: 0 0 10px #f50010;
}

#sid-ketchum.modal .body .choosen-cards .card img {
    height: 100%;
}

#sid-ketchum.modal .body .controls {
    height: 20%;
    text-align: center;
}

#black-jack.modal .body .cards {
    height: calc(80% - 20px);
    padding: 10px;
}

#black-jack.modal .body .cards .card {
    height: 100%;
    display: inline-block;
}

#black-jack.modal .body .cards .card img {
    height: 100%;
}

#black-jack.modal .body .controls {
    height: 20%;
    text-align: center;
}