.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 60vh;
    margin: 20vh 25vw;
    border: 5px solid #000000;
    border-radius: 18px;
    background-color: #f7ffef;
}

.modal .header {
    height: 20%;
    text-align: center;
}

.modal .body {
    height: calc(80% - 38px);
    padding: 10px;
}

#sid-ketchum.modal .body .cards .card:hover {
    border: 1px solid #f5b95c;
    border-radius: 15px;
    outline: none;
    box-shadow: 0 0 10px #f5b95c;
}

#sid-ketchum.modal .body .cards {
    height: calc(40% - 20px);
}

#sid-ketchum.modal .body .choosen-cards {
    height: calc(40% - 20px);
    padding: 10px;
    text-align: center;
}

#sid-ketchum.modal .body .choosen-cards .card {
    height: 100%;
    display: inline-block;
}

#sid-ketchum.modal .body .choosen-cards .card:hover {
    border: 1px solid #f50010;
    border-radius: 15px;
    outline: none;
    box-shadow: 0 0 10px #f50010;
}

#sid-ketchum.modal .body .choosen-cards .card img {
    height: 100%;
}

#sid-ketchum.modal .body .controls {
    height: 20%;
    text-align: center;
}

#black-jack.modal .body .cards {
    height: calc(80% - 20px);
    padding: 10px;
}

#black-jack.modal .body .cards .card {
    height: 100%;
    display: inline-block;
}

#black-jack.modal .body .cards .card img {
    height: 100%;
}

#black-jack.modal .body .controls {
    height: 20%;
    text-align: center;
}

#jesse-jones.modal .body {
    margin: 15px;
}

#jesse-jones.modal .body .players {
    width: 100%;
    height: 80%;
}

#jesse-jones.modal .body .players .player {
    height: 10%;
}

#jesse-jones.modal .body .players .player .name {
    display: inline-block;
    width: 30%;
}

#jesse-jones.modal .body .players .player .hand-count {
    display: inline-block;
    width: 15%;
}

#jesse-jones.modal .body .players .player .table-count {
    display: inline-block;
    width: 15%;
}

#jesse-jones.modal .body .players .player .action {
    display: inline-block;
    width: 30%;
}

#jesse-jones.modal .body .controls {
    height: 20%;
    text-align: center;
}

#kit-carlson.modal .body .cards .card:hover {
    border: 1px solid #f50010;
    border-radius: 15px;
    outline: none;
    box-shadow: 0 0 10px #f50010;
}

#kit-carlson.modal .body .cards {
    height: 100%;
    text-align: center;
}

#kit-carlson.modal .body .cards .card {
    height: 100%;
    display: inline-block;
}

#kit-carlson.modal .body .cards .card img {
    height: 100%;
}