#chat-window {
    margin-top: 15px;
    padding: 10px;
}

#chat-window .messages {
    height: 40vh;
    max-height: 40vh;
    overflow: hidden;
}

#chat-window .messages .message {
    margin: 0;
}

#chat-window .messages .sender {
    margin: 0;
}

#chat-window .messages .message .text {
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: black;
    overflow-wrap: break-word;
}

#chat-window .messages .message .text.other-sender .sender {
    position: absolute;
    top: 1px;
    left: 8px;
    color: darkgray;
    font-size: 11px;
}

#chat-window .messages .message .text.other-sender {
    background-color: #f1f0f0;
    padding-top: 13px;
}

#chat-window .messages .message .text:not(.other-sender) {
    background-color: #0084ff;
    color: white;
}

#chat-window .input-field textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5px;
    border: 0;
    outline: none;
}

#chat-window .input-field .send-message {
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
    background-color: white;
    color: lightgray;
    font-weight: bold;
    display: block;
}

#chat-window .input-field .send-message .send-message-button {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;;
    padding-bottom: 21px;
}