#prsi .image, #prsi .card img, #image .card a {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
}

#prsi .color {
    max-width: 25%;
    min-width: 25%;
    display: inline-block;
}

#prsi .color a, #prsi .color img {
    max-width: 100%;
}

#prsi div.card {
    padding: 5px;
}

#prsi .played-cards {
    display: inline-block;
    width: 40%;
    height: 100%;
}

#chat-window {
    position: fixed;

    bottom: 0;
    right: 20px;

    width: 30vh;
    height: 40vh;

    max-width: 100%;

    border: 1px solid gray;
}